@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
}

.sidebar {
    background-color: red;
    width: 10vw;
    font-family: 'Fira Sans', sans-serif;
    height: 100vh;
}

.sidebar nav {
    padding: 45px;
}

.sidebar nav li {
    list-style: none;
    font-size: 30px;
    padding: 33px 0;
}

.main {
    background-color: yellow;
    width: 90vw;
}

.container {
    display: flex;
}

.infoContainer{
    background-color: rgb(51, 253, 0);
    height:14vw ;
    width: 80vw;
    margin: 144px auto;
    
}